<!-- Page Heading -->
    <div class="row"> 
        <div class="docs-container">
            <div class="docs-primary-header">
                <h1>Radiobox Widget</h1>
            </div>
        </div>       
        <div class="col-lg-12">           
            <div>
            <radio-widget
               [ActiveItemOnInit]="ActiveItemOnInit" 
               (onRadioBoxSelect)="OnRadioBoxSelect($event)"
               [options]="options">
            </radio-widget>
            </div>
        </div>
    </div>