<div class="collapse navbar-collapse navbar-ex1-collapse docs-component-sidenav">
    <h3>Form Controls</h3>
    <ul class="nav navbar-nav side-nav">
        <li>
            <a routerLink="radio"><i class="fa fa-fw fa-dashboard"></i> Radio Widget </a>
        </li>
        <li>
            <a routerLink="contact"><i class="fa fa-fw fa-dashboard"></i> Checkbox Widget </a>
        </li>
        <li>
            <a routerLink="about"><i class="fa fa-fw fa-dashboard"></i> Dropdown Widget </a>
        </li>
        <li>
            <a routerLink="bootstrapDropdown"><i class="fa fa-fw fa-dashboard"></i> Bootstrap Dropdown Widget </a>
        </li>
        <li>
            <a routerLink="datepicker"><i class="fa fa-fw fa-dashboard"></i> Bootstrap DatePicker </a>
        </li>
        <li>
            <a routerLink="virtualscroll"><i class="fa fa-fw fa-dashboard"></i> Virtual Scroll </a>
        </li>
    </ul>
</div>