<!-- Page Heading -->
    <div class="row"> 
        <div class="docs-container">
            <div class="docs-primary-header">
                <h1>Virtual Scroll Widget</h1>
            </div>
        </div>       
        <div class="col-lg-12">           
            <div>
            <virtual-scroll-widget
               [ActiveItemOnInit]="ActiveItemOnInit" 
               (onRadioBoxSelect)="OnRadioBoxSelect($event)"
               [options]="options">
            </virtual-scroll-widget>
            </div>
        </div>
    </div>